.select-block {
  position: relative;
}

.select-block + .select-block {
  margin-top: 1.4rem;
}

.select-block label {
  font-size: 1.4rem;
}

.select-block select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem 0.8rem 0 0;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

.select-block select > option{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.2rem;
}

.select-block:focus-within::after {
  width: 0;
  height: 3.4rem;
  content: "";
  border-left: 3px solid var(--color-primary-light);
  position: absolute;
  left: 0;
  top: 4.2rem;
}
